<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Auser" type="com.po.Auser"/>
        <typeAlias alias="Goods" type="com.po.Goods"/>
        <typeAlias alias="Buser" type="com.po.Buser"/>
     </typeAliases>
	 <mappers>
        <mapper resource="com/mapper/admin/AdminGoodsMapper.xml"/>
       	<mapper resource="com/mapper/admin/AdminOrderMapper.xml"/>
       	<mapper resource="com/mapper/admin/AdminMapper.xml"/>
        <mapper resource="com/mapper/before/UserMapper.xml"/>
 	</mappers>
</configuration>