<?xml version="1.0" encoding="UTF-8"?>
<!-- AdminGoodsDao接口的实现-->
<mapper namespace="com.dao.AdminGoodsDao">
	<!-- 查询所有商品 -->
	<select id="selectGoods" resultType="Goods">
		select * from goodstable
	</select>
	<!-- 分页查询商品 -->
	<select id="selectAllGoodsByPage" resultType="Goods" parameterType="map">
		select * from goodstable order by id limit #{startIndex},#{perPageSize}
	</select>
	<!-- 商品详情，根据id查找商品 -->
	<select id="selectGoodsById" resultType="Goods" parameterType="Integer">
		select goodstable.*,goodstype.typename from goodstable,goodstype
		where goodstable.id=#{id} and goodstable.goodstype_id=goodstype.id
	</select>
	<!-- 添加商品 -->
	<insert id="addGoods" parameterType="Goods">
		insert into goodstable (id,gname,goprice,grprice,gstore,gpicture,goodstype_id)
		values (null,#{gname},#{goprice},#{grprice},#{gstore},#{gpicture},#{goodstype_id})
	</insert>
</mapper>